@using Project_informatica_website.Dbase;
@model MoviefromAPI
@{
    ViewData["Title"] = "Home Page";
    List<Actor> actors = ViewData["actors"] as List<Actor>;
    List<Movie> movies = ViewData["movies"] as List<Movie>;
    List<Movie_actors> movie_actors = ViewData["Movie_actors"] as List<Movie_actors>;
}
<head>
    <script type="text/javascript" src='~/js/site.js'></script>

</head>
<body>
    <div class="main">
        <h2 style="text-align: left;">
            Kaartje:
        </h2>
        <p style="text-align: left;">
            @if (movies != null)
            {
                foreach (var movie in movies)
                {
                    <img src="~/img/@movie.File_Movie" style="height:500px">

                }
            }
        <p>Title      : @Model.Title</p>
        <p>Plot       : @Model.Plot</p>
        <p>IMDB Rating: @Model.imdbRating</p>

        <h1>ACTORS:</h1>
        @if (actors != null)
        {
            <div class="row">
                @foreach (var actor in actors)
                {
                //
                // Plaats de Actors in Tabel
                //
                <div class="column @actor.Name">
                    <div class="content">
                        <img src="~/img/@actor.File" alt="Mountains" style="height:200px">
                        <h4 style="color:white">@actor.Name</h4>
                    </div>
                </div>
                }
            </div>
         }
      
        <script>filterSelection('all')</script>

    </div>
</body>